Project1/*/modelsim.ini
Project1/*/work
Project1/*/transcript
Project1/*/vsim.wlf
Project1/*/*/modelsim.ini
Project1/*/*/work
Project1/*/*/transcript
Project1/*/*/vsim.wlf
toolflow/output
toolflow/internal/ModelSimContainer
toolflow/proj/src/TopLevel/work
toolflow/proj/src/TopLevel/modelsim.ini
toolflow/proj/src/TopLevel/transcript
toolflow/proj/src/TopLevel/vsim.wlf